.primary{
    background-color: white;
}

.master{
    display: inline-flex;
}

.container{
    background-color: cyan;
    color: black;
    border-style: solid;
    width: 50%;
    display: inline-block;
    padding: 10px;
    height: 100%;
}

.box{
    border-style: solid;
    border-radius: 1px;
}

.box2{
    margin-top: 20px;
}

.facts{
    border-style: solid;
    color: black;
    display: flex;
    padding: 2%;
    align-items: center;
}

.container2{
    background-color: white;
    color: black;
    display: inline-block;
    width: 50%;
    height: 100%;
}

.box{
    background-color: white;
    padding: 40px;
    height: 60%;
}

.lorem{
    border-style: solid;
    height: 50%;
    width: 95%;
    padding: 10px;
    background-color: blanchedalmond;
}

.box2 img{
    height: 30px;
    width: 30px;
    border-radius: 50%;
    margin-right: 20px;
}
.local img{
    height: 30px;
    width: 20px;
}

.setting img{
    height: 30px;
    width: 30px;
}

.prof{
    position: relative;
    left: 20px;
    top: 40px;
    height: 60px;
    width: 60px;
}

.nav{
    background-color: gray;
    height: 40px;
    vertical-align: top;
    padding: 10px;
    align-items: center;
    display: flex;
}



ul{
    align-items: center;
}

li{
    justify-content: space-between;
    display: inline-block;
}

button{
    background-color: cyan;
    box-shadow: 3px 2px black;
    border-color: black;
    width: 100px;
}

.button_con{
    display: flex;
    justify-content: right;
    width: 80%;
}

.nav{
    border-style: solid;
    border-color: black;
}